@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1, p {
  font-family: Lato;
}

html{
  font-family: 'Montserrat', sans-serif;
}

input{
  display: block;
}

* {
  margin: 5px;
}

